footer {
    padding: 1.25rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    gap: 2rem;
    background: var(--neutral-600);
    -webkit-box-shadow: 0px -3px 3px 0px rgba(145, 145, 145, 1);
    -moz-box-shadow: 0px -3px 3px 0px rgba(145, 145, 145, 1);
}

footer h2 {
    color: var(--gray-100);
    font-weight: 600;
}

footer h4 {
    color: var(--neutral-200);
    font-size: 1.125rem;
    font-weight: 400;
}

.footer-container {
    margin: auto 0;
    display: flex;
    align-items: flex-start;
    gap: 6.25rem;
}

.info-header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.info-container span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
}

.info-container span:last-child {
    justify-content: center;
}

.info-container span a img {
    width: 21px;
}

.info-container span a {
    transition: all 0.4s;
}

.info-container span a:hover {
    transform: scale(1.1);
}

.footer-icon {
    font-size: 1.5rem;
}

.primary-navigation.footer a {
    color: #fff;
    opacity: 75%;
    font-weight: 400;
}

.primary-navigation.footer a:hover {
    color: #fff;
    border-bottom: 2.5px solid var(--red-900);
    opacity: 100%;
}

footer img {
    width: 9.375rem;
    mix-blend-mode: overlay;
}

@media (max-width: 48rem) {
    footer {
        height: fit-content;
    }

    .footer-container {
        margin: 2rem 0;
        display: grid;
        grid-template-columns: repeat(2, 100px);
        justify-content: center;
        align-items: center;
        gap: 1rem 5rem;
        width: 100%;
        height: fit-content;
    }
}
